/*--------*/
/* Global */
/*--------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);

    /*degault font*/
    font-family: 'Times New Roman', Times, serif;

    /*debugging*/
    /*border: 1px solid red;*/
}

#timer {
    font-size: large;
    color: azure;
    padding-right: auto;
}
body {
    background-image: linear-gradient(270deg, rgb(184, 23, 23), rgb(124, 118, 118) );

}

h1,
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

li {
    list-style: none;
    margin: 5px;
}

/*-----*/
/*timer*/
/*-----*/

p {
    font-size: 1.3em;
}

/*----------*/
/*highscores*/
/*----------*/

button {
    outline: none;
    background-color: yellow;
    font-size: 1.3em;
}

button:hover {
    background-color: black;
    color: white
}


/*----------------------*/
/*outer contienr section*/
/*----------------------*/

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/*-----------------*/
/*top bar container*/
/*-----------------*/

.top-bar p {
    float: right;
}


/*----------------------*/
/*inner contienr section*/
/*----------------------*/
.inner-container {
    margin-top: 10px;
    /*background-color: rgb(90, 95, 95);*/
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*-------------------------*/
/*header/quiz intro section*/
/*-------------------------*/

.quiz-intro,
main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(150deg, rgb(253, 251, 251), rgb(243, 129, 129));
    display: block;
    box-shadow: 20px 10px black;
}


.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto
}


/*-----------------*/
/*Main Quiz Content*/
/*-----------------*/

main {
    display: block;
}


/*---------------*/
/*question Screen*/
/*---------------*/

.question-screen {
    display: none;
}




/*-------------*/
/*finish screen*/
/*-------------*/

.quiz-finish-screen {
    display: none;

}

label {
    color: black;
}

#reset-button {
    margin-top: 25px;
    padding-left: auto;
}

/*-----------------*/
/*highscores screen*/
/*-----------------*/

#top-score {
    display: none;
}

.top-score ol {
    
    overflow-y: scroll;
    max-height: 100px;
}